@view-transition{
    navigation: auto;
}

.menu-container{
    margin: auto;
    width: 80%;
    display: flex;
    justify-content: space-between;
}
img{
    width: 20vw;
    height: 30vh;
}